html
	head
		title Resource Test
		link(rel="stylesheet",href="lib/bootstrap/dist/css/bootstrap.css")




	body

		script(src="lib/jquery/dist/jquery.js")
		script(src="lib/q/q.js")
		script(src="js/resource.js")
		script(src="js/init.js")

