extends layout

block content
	.container-fluid#artists
		h1 Artists
		#artists-list
			.row
				.col-xs-3
					img(src="/img/artists/james-brown.jpg",width="100%")
				.col-xs-9
					h2 James Brown
			.row
				.col-xs-3
					img(src="/img/artists/tom-jones.jpeg",width="100%")
				.col-xs-9
					h2 Tom Jones
			.row
				.col-xs-3
					img(src="/img/artists/jamiroquai.jpg",width="100%")
				.col-xs-9
					h2 Jamiroquai