#events {
	#events-list {
		.thumbnail {
			.date {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 80px;
				height: 30px;
				line-height: 30px;
				font-size: 16px;
				text-align: center;
				font-weight: bold;
				color: white;
				background: $funkytown-color-yellow;
				
			}
			&:hover {
				.date {
					background: $funkytown-color-red;
				}
			}
			cursor: pointer;
		}
	}
}