
input#task-name {
	width: 600px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	padding: 5px;
}

ul#tasks-list {
	list-style-type: none;
	width: 600px;
	padding-left: 0px;
}


ul#tasks-list li {
	width: 100%;
	height: 24px;
	line-height: 24px;
	font-size: 18px;
}

input#task-name, ul#tasks-list li {
	border: 1px solid #AAA;
	margin-top: 5px;
	border-radius: 5px;
}

li.finished {
	text-decoration: line-through;
}