
	$funkytown-color-light: #FFF;
	$funkytown-color-text: #dacea9;
	$funkytown-color-dark: #000;
	$funkytown-color-red: #e70000;
	$funkytown-color-yellow: #ffc100;

	$funkytown-font-text: Helvetica, Arial, sans-serif;
	$funkytown-font-heading: "Audiowide", Helvetica, Arial, sans-serif;
	